/*
 * main.css
 * —
 * WHERE YOU PUT YOUR CODE
 *
 */

body {

	background: url('../imgs/fond.gif');
	background-size: repeat;
	background-attachment: fixed;

	min-height:6000px;
	height:6000px;
}

#svgs {
	/*position: relative;
	width: 100%;
	height: 100%;*/
	display:none;
}

#sphere {
	position: absolute;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background-color: black;
}

#sphere2 {
	position: fixed;
	margin:0;
	width: 260px;
	height: 260px;
	border: 7px solid black;
	border-radius: 50%;
	background-color: white;
}

#sphere-tablet {
	position: fixed;
	margin:0;
	width: 260px;
	height: 260px;
	border: 7px solid black;
	border-radius: 50%;
	background-color: white;
	display:none;
}

#sphere-text-tablet {
	position:fixed;
	margin: 0;
	text-align:center;
	vertical-align:middle;
	display:none;
	width:260px;
}

#date-month {

	
}

#sphere-text {
	position:fixed;
	margin: 0;
	text-align:center;
	vertical-align:middle;
	display:none;
	width:260px;
}
 #iphone-sphere-text{
	position:absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	margin: 0;
	text-align:center;
	vertical-align:middle;
	/*width:100px;*/
	/*height:100px;*/
	z-index: 2;
}

#menubar {
	position: fixed;

	background-color: black;
	height: 20px;
}

#date{
	color: white;
	text-align: center;
	background-color: black;
	margin: 0px 10px 0px 10px
}	

#iphone-sphere {
	position: fixed;
	margin: 0;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	border:3px solid;
	border-color: black;
	background-color: white;
	z-index: 1;
}


.marge {
	padding: 0px 10px 10px 10px;
	display: block;

}

.sansmargebas {
	padding: 0px 10px 0px 10px;
	display: block;
}

/*
 * media queries
 * —
 * WHERE YOU CHANGE YOUR LAYOUT
 *
 */

@media (max-width: 480px) {

}

@media (min-width: 481px) and (max-width: 768px){

}

@media (min-width: 769px) and (max-width: 1024px) {

}

@media (orientation: landscape) {

}

@media (orientation: portrait) {

}
