/*
 * main.css
 * —
 * WHERE YOU PUT YOUR CODE
 *
 */

body {

	background: url('../imgs/fond1.gif');
	background-size: repeat;
	background-attachment: fixed;
	

	min-height:6000px;
	height:6000px;
}

h3 {
	font-size: 15px

}

#svgs {
	/*position: relative;
	width: 100%;
	height: 100%;*/
	display:none;
}

#sphere {
	position: absolute;
	width: 60px;
	height: 60px;
	border: 5px solid black;
	border-radius: 30px;
	background-color: black;
}

#sphere2 {
	position: fixed;
	margin:0;
	width: 260px;
	height: 260px;
	border: 5px solid black;
	border-radius: 50%;
	background-color: white;
}

#sphere-tablet {
	position: fixed;
	margin:0;
	width: 260px;
	height: 260px;
	border: 5px solid black;
	border-radius: 50%;
	background-color: white;
	display:none;
}

#sphere-text-tablet {
	position:fixed;
	margin: 0;
	text-align:center;
	vertical-align:middle;
	display:none;
	width:260px;
}

#date-month {

	
}

#sphere-text {
	position:fixed;
	margin: 0;
	text-align:center;
	vertical-align:middle;
	display:none;
	width:260px;
}
 #iphone-sphere-text{
	position:absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	margin: 0;
	text-align:center;
	vertical-align:middle;
	/*width:100px;*/
	/*height:100px;*/

}

#sphere-text-tablet{
	position:absolute;
	top: 50%;
	left: 75%;
	-webkit-transform: translate(-75%, -50%);
	transform: translate(-75%, -50%);
	margin: 0;
	text-align:center;
	vertical-align:middle;
	/*width:100px;*/
	/*height:100px;*/

}

#menubar {
	position: fixed;

	background-color: black;
	height: 20px;
}

#date{
	color: white;
	text-align: center;
	background-color: black;
	margin: 0px 10px 0px 10px
}	

#iphone-sphere {
	position: fixed;
	margin: 0;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	border:3px solid;
	border-color: black;
	background-color: white;
	z-index: 1;
}


.marge {
	padding: 0px 10px 10px 10px;
	display: block;

}

.sansmargebas {
	padding: 0px 10px 0px 10px;
	display: block;
}

#image-container {
	position:fixed;
}

#image-container img {
	float:right;
	display:none;
}

#scroll-tablet-container img {
}



.img-container-fat-tablet {
	position:absolute; 
	max-width:none; 
	width:6000px; 
	height:6000px; 
	overflow:hidden; 
	top:0; 
	left:0;
	z-index: -1;
}
/*
 * media queries
 * —
 * WHERE YOU CHANGE YOUR LAYOUT
 *
 */

@media (max-width: 568px) {

}

@media (min-width: 569px) and (max-width: 1024px) {

}

@media (min-width: 1025px) {

}

@media (orientation: landscape) {
	img:nth-child(0) {
		left: 50.35%;
		top: 2.7%;
		width: 8.5%;
	}
}

@media (orientation: portrait) {
	 img:nth-child(0) {
		left: 40.35%;
		top: 31.7%;
		width: 3.5%;
	}
}
